<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!--SharePoint 站点地址-->
    <add key="URL" value="https://gks.dahuasecurity.com" />

    <!--管理员账号-->

    <add key="UserName" value="spadmin" />

    <!--管理员密码-->

    <add key="UserPwd" value="Dh$2017-GVJ2J" />

    <!--域名-->

    <add key="Domain" value="dahuagks.com" />

    <!--加密历史URL-->

    <add key="RMSHistoryFullURL" value="https://gks.dahuasecurity.com/Lists/RMSHistory/AllItems.aspx" />

    <!--加密任务URL-->

    <add key="RMSTaskFullURL" value="http://gks.dahuasecurity.com/Lists/RMSTask/AllItems.aspx" />
    <!--<add key="URL" value="http://sharepoint-yc01" />
    <add key="UserName" value="administrator" />
    <add key="UserPwd" value="Password01!" />
    <add key="Domain" value="dh.com" />-->

    <!--SharePoint 站点地址-->
    <!--<add key="URL" value="http://ikernal-sp01" />-->
    <!--管理员账号-->
    <!--<add key="UserName" value="test01" />-->
    <!--管理员密码-->
    <!--<add key="UserPwd" value="abc123!" />-->
    <!--域名-->
    <!--<add key="Domain" value="ikernal.com" />-->
    <!--RMS加密文档库名称-->
    <add key="RMSDoc" value="RMSDocuments" />
    <!--RMS加密任务List名称-->
    <add key="RMSTask" value="RMSTask" />
    <!--RMS加密历史List名称-->
    <add key="RMSHistory" value="RMSHistory" />
    <!--源文档库名称-->
    <add key="SourceDoc" value="Documents" />
    <!--源文档库URL-->
    <add key="SourceDocUrl" value="Documents" />
    <!--RMS加密文档库URL-->
    <add key="RMSDocUrl" value="RMSDocuments" />
    <!--加密历史URL-->
    <!--<add key="RMSHistoryFullURL" value="http://ecm.dahuaecm.com/Lists/RMSHistory/AllItems.aspx" />-->
    <!--加密任务URL-->
    <!--<add key="RMSTaskFullURL" value="http://ecm.dahuaecm.com/Lists/RMSTask/AllItems.aspx" />-->
    <!--Office文件打开等待时间（毫秒），服务器CPU越强数字可以越小，建议不要小于3000-->
    <add key="SleepTime" value="10000" />
    <!--SMTP服务器地址-->
    <add key="SMTP" value="mail.dahuatech.com"/>
    <add key="GKSUserAccount" value="gks@dahuatech.com"/>
    <add key="GKSUserAccountPass" value="Voxa5020"/>
    <add key="AdminMail" value="liu.tao@yunstorm.com;"/>
  </appSettings>

</configuration>