

#CSRListViewControlDivWPQ1 {
    width: 25%;
    margin-top: 0;
    margin-top: -25px;
}

td#scriptWPQ1 #Hero-WPQ1 {
    margin-top: 0px;
}

#inplaceSearchDiv_WPQ1_lsprogress {
    display: none;
}

#inplaceSearchDiv_WPQ1 {
    margin-left: 0;
}
