
#DeltaPlaceHolderMain {
    width: 960px;
    float: left;
}

    #DeltaPlaceHolderMain td.ms-vb2 {
        max-width: 200px;
        word-break: break-all;
    }

#DeltaPageStatusBar {
    display: none;
}

.leftTree {
    float: left;
    width: 220px;
    height: 520px;
    border: 1px solid #eee;
    margin-right: 20px;
    background-color: #eee;
    box-sizing: border-box;
}

    .leftTree ul li {
        list-style: none;
    }

    .leftTree h4 {
        height: 32px;
        line-height: 32px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .leftTree .myTitle {
        width: 100%;
        height: 34px;
        line-height: 34px;
        padding-left: 20px;
        background-color: #0E60AC;
        box-sizing: border-box;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        margin: 0;
    }

.second a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #4e4e4e;
    padding-left: 40px;
}

    .second a :active {
        color: blue;
    }

.primaryDir {
    margin-bottom: 10px;
}

.leftTree .upBtn {
    display: block;
    margin: 30px auto 0;
    width: 160px;
    cursor: pointer;
}

    .leftTree .upBtn:hover {
        background-color: #199ED8;
    }
