<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--时间间隔 24H-->
    <add key="TimeSpan" value="86400" />
    <!--10.1.0.105数据库连接字符串-->
    <add key="ConnectSql" value="82DF82DC417EF9303CE14979065207414122FADB33190A7C592A33577294783CA7C5E7D0EA98437BC2382EED165CCE04DE169F6BAEE0E4B0E2C286E652316AB0DA57D6E3DDCEFA0E34DBA1082DFCDAE6" />
    <!--站点地址-->
    <add key="WebUrl" value="https://gks.dahuasecurity.com/" />
    <!--用户名-->
    <add key="LoginName" value="spadmin" />
    <!--密码-->
    <add key="Password" value="R^&amp;#^x5%nub%8Hh7" />
    <!--域名-->
    <add key="Domain" value="dahuagks.com" />
    <!--域名-->
    <add key="DomainUser" value="dahuatech" />
    <!--海外销售中心Id-->
    <add key="RootId" value="10121" />
    <!--大欧洲区Id-->
    <add key="EuropeId" value="15543" />
    <!--产品部下部门Id集合-->
    <add key="ProductSubIds" value="16589,15588,10245,10249,11607" />

    <!--邮件发送人-->
    <add key="MailUser" value="gks@dahuatech.com" />
    <!--邮件发送人密码-->
    <add key="MailPwd" value="Voxa5020" />
    <!--邮箱smtp地址-->
    <add key="MailSmtp" value="mail.dahuatech.com" />
    <!--邮箱smtp端口-->
    <add key="MailPort" value="25" />
    <!--邮件收件人(多个请使用英文,分割)-->
    <add key="MailTo" value="zhang.chuang@yunstorm.com,liu.tao@yunstorm.com" />

  </appSettings>
</configuration>