<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--时间间隔 12H-->
    <add key="TimeSpan" value="43200" />
    <!--站点地址-->
    <add key="WebUrl" value="https://gks.dahuasecurity.com/" />
    <!--用户名-->
    <add key="LoginName" value="spadmin" />
    <!--密码-->
    <add key="Password" value="Dh$2017-GVJ2J" />
    <!--域名-->
    <add key="Domain" value="dahuagks.com" />
    <!--文件计算列表名-->
    <add key="DocumentCalculated" value="DocumentCalculated" />
    <!--文件统计详情列表名-->
    <add key="DocumentStatisticalDetails" value="DocumentStatisticalDetails" />
    <!--文件评分列表名-->
    <add key="ScoreList" value="Score List" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>