<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--时间间隔 24H-->
    <add key="TimeSpan" value="86400" />
    <!--站点地址-->
    <add key="WebUrl" value="http://ikernal-sp01/" />
    <!--用户名-->
    <add key="LoginName" value="dcadmin" />
    <!--密码-->
    <add key="Password" value="Password01!" />
    <!--域名-->
    <add key="Domain" value="ikernal.com" />
    <!--外部人员列表名-->
    <add key="ExternalList" value="ExternalUserList" />
    <!--上次更新时间文件路径-->
    <add key="LastTimePath" value="E://LastTime/lasttime.txt" />
    <!--获取更新用户路径-->
    <add key="GlobleWebSync" value="http://test.dahuasecurity.com/training/user_list.php" />
    <!--加密key-->
    <add key="SCKey" value="dahuakey" />
  </appSettings>
</configuration>